﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SeleccionGrupos.aspx.cs" Inherits="YC_Collect_Data.SeleccionGrupos" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <div>
     <asp:Panel ID="Pannel1" runat="server">
        
    </asp:Panel>
    </div>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Volver" />
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Guardar" />
    </form>
</body>
</html>
